[<%= link_to "回到版面", stream_index_path %>]
<table width='100%'><tr><th bgcolor=#e04000>
<font color=#FFFFFF>回應模式</font>
</th></tr></table>
<%= render 'common/post_form', { post: @reply_form } %>

<div id="contents">
  <%= render 'common/thread_top' %>
<%= form_tag post_path, method: :delete do %>

  <%= render 'thread', { thread: @thread, replies: @replies } %>
  <%= render 'common/thread_bottom' %>
  <%= render 'common/del_form' %>

<% end %>
<script type="text/javascript">l2();</script>

<%= paginate @replies %>

</div>