<%= simple_form_for post,
        html: {id: "postform_main", onsubmit: "return c();"},
        defaults: {label: false, wrapper: false} do |f| %>
  <div id="postform">
  <div style="text-align: center;">
    <table cellpadding="1" cellspacing="1" id="postform_tbl" style="margin: 0px auto; text-align: left;">
    <tr>
      <td class="Form_bg"><b>名 稱</b></td>
      <td><%= f.input :author %></td>
    </tr>
    <tr>
      <td class="Form_bg"><b>E-mail</b></td>
      <td><%= f.input :email %></td>
    </tr>
    <tr>
      <td class="Form_bg"><b>標 題</b></td>
      <td><%= f.input :title %><%= f.submit '送 出' %></td>
    </tr>
    <tr>
      <td class="Form_bg"><b>內 文</b></td>
      <td><%= f.input :message, as: :text, input_html: {cols: 48, rows: 4}  %></td>
    </tr>
    <tr>
      <td class="Form_bg"><b>附加圖檔</b></td>
      <td><%= f.input :image, as: :file %></td>
    </tr>
    <tr>
      <td class="Form_bg"><b>刪除用密碼</b></td>
      <td><%= f.input :delete_password %><small>(刪除文章用。)</small></td>
    </tr>
    <%= f.input :parent_post_id, as: :hidden %>
    <tr>
      <td colspan="2">
        <div id="postinfo">
        <ul>
          <li>瀏覽器可正常附加圖檔類型：GIF, JPG, PNG</li>
          <li>附加圖檔最大上傳資料量為： <%= MAX_IMAGE_KB_SIZE %> KB</li>
        </ul>
        <noscript><div>＊您選擇關閉了JavaScript，但這對您的瀏覽及發文應無巨大影響</div></noscript>
        </div>
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript">l1();</script>
<hr />
</div>
<% end %>